.navbar {
    background-color: #252222;
    color: #4e4e4e;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
   

}

.btn {
    background-color: #f9a826;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #e89121;
}

.b-name {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.box2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}